@import url("https://fonts.googleapis.com/css?family=Lato");
html,
body {
  width: 1440;
  height: 1020px;
  font-family: Lato, sans-serif;
  background:url(dynamicTable/img/Artboard\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;

}

.controles{
    background: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    font-family: 'Calibri';
    font-size: 18px;
}
.img-boton{
    display: flex;
    background: url(dynamicTable/img/agregar-usuario.png);
    background-size: 80%;
    background-repeat: no-repeat;
    border: none;
    padding: 5%;
}
.img-boton2{
    background: url(dynamicTable/img/reiniciar.png);
    display: flex;
    background-size: 80%;
    background-repeat: no-repeat;
    border: none;
    padding: 5%;
    
    
}

