body{   
    background-image: url(img/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width:  100vw;
    height: 100vh;
}
.pageimage{
width: 100vw;
height: 100vh;


}
.texto{
    display: flex;
    justify-content: center;
    font-size: 3em;
    

}

.controles{
    background: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    font-family: 'Calibri';
    font-size: 18px;
}
#nametext{
    width: 4em;
    height: 1vh;
}
.botones{
    display: flex;
    align-items: start;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
/*.img-boton1{
    display: flex;
    background: url(img/agregar-usuario.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    padding: 5%;
}
.img-boton2{
    background: url(img/reiniciar.png);
    display: flex;
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    padding: 5%;
    height: 3vh;
    width: 3vw;*/   
#startbutton{
width: 10vh;
height: 10vh;
border-radius: 50%;
background-color: bisque;
display: flex;


}
.start{
    background: url(img/muerte.png);
    display: flex;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-color: none;
    border: none;
    height: 80%;
    width: 80%; 
    margin-top: 3px;
    margin-left: 6px;  
}
/*
#nombres{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
/*namelist    
}


